In [1]:
import pandas as pd

In [2]:
weather_df = pd.read_csv("Weather_data.csv")

In [3]:
weather_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country
0,Clyde River,70.47,-68.59,42.84,76,0,5.32,CA
1,Salamanca,40.83,-6.00,72.00,68,82,6.93,ES
2,Antofagasta,-23.65,-70.40,55.40,76,90,2.24,CL
3,Mar del Plata,-38.00,-57.56,42.80,56,52,11.41,AR
4,Srednekolymsk,67.45,153.68,71.53,41,0,7.25,RU
...,...,...,...,...,...,...,...,...
551,Alofi,-19.06,-169.92,73.40,94,57,16.11,NU
552,Port-Gentil,-0.72,8.78,77.00,88,75,12.48,GA
553,Bonthe,7.53,-12.51,75.13,91,100,11.43,SL
554,Pop,40.87,71.11,91.40,24,20,6.93,UZ
555,Rochester,43.15,-77.62,69.01,93,40,8.05,US

In [ ]:
weather_df.to_html('weather_data.html')